<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/student/list">Students</a>
    </li>
    <li class="breadcrumb-item active">Add</li>
</ol>
<h1 class="display-4">Create Student</h1>
<form method="post" action="/student/create">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control">
    </div>
    <input type="submit" value="Submit" class="btn btn-primary">
</form>