<h1 class="display-4">Welcome To Sails University</h1>
<p class="mb-4">This is a Sails.js app for studying</p>
<a href="/teacher/list" class="btn btn-light">View teachers</a>
<a href="/teacher/add" class="btn btn-light">Add teacher</a>
<a href="/student/list" class="btn btn-light">View students</a>
<a href="/student/add" class="btn btn-light">Add student</a>