<h1 class="display-4">students</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% students.forEach(function(student){ %>
            <tr>
                <td>
                    <%= student.id %>
                </td>
                <td>
                    <%= student.name %>
                </td>
                <td>
                    <a href="/student/edit/<%= student.id %>" class="btn btn-primary">Edit</a>
                    <form class="d-inline" action="/student/delete/<%= student.id %>" method="post">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>
            </tr>
            <% }) %>
    </tbody>
</table>